{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page for managing the Warehouse.">
    <title>Warehouse Manager | {% block title %}Warehouse Manager{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block styles %}{% endblock %}
</head>
<body class="bg-gray-100 font-sans">
    <div class="flex h-screen">
        <!-- Sidebar -->
        <aside class="w-64 bg-black text-white p-5">
            <h1 class="text-xl font-bold" style="font-size:30px; line-height: 1.4;">Managing Warehouse</h1>
            <nav class="mt-5">
                <ul style="font-size: 17px;">
                    <li class="py-2"><i class="fa-solid fa-desktop w-4 text-right"></i><a href="{% url 'index' %}" class="hover:text-gray-400" style="text-decoration: none;">{% trans "frontend.index.overview" %}</a></li>
                    <li class="py-2"><i class="fa-solid fa-table-list w-4 text-right"></i></i><a href="{% url 'items' %}" class="hover:text-gray-400" style="text-decoration: none;">{% trans "frontend.index.items" %}</a></li>
                    <li class="py-2"><i class="fa-solid fa-basket-shopping w-4 text-right"></i><a href="{% url 'orders' %}" class="hover:text-gray-400" style="text-decoration: none;">{% trans "frontend.index.orders" %}</a></li>
                    <li class="py-2"><i class="fa-solid fa-users w-4 text-right"></i><a href="{% url 'suppliers' %}" class="hover:text-gray-400" style="text-decoration: none;">{% trans "frontend.index.suppliers" %}</a></li>
                    {% if user.is_authenticated %}
                        <li class="py-2"><i class="fa-solid fa-gear w-4 text-right"></i><a href="{% url 'settings' %}" class="hover:text-gray-400" style="text-decoration: none;">{% trans "frontend.index.settings" %}</a></li>
                    {% else %}
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="pt-2"><i class="fa-solid fa-right-from-bracket w-4 text-right"></i><a href="{% url 'logout' %}" class="hover:text-gray-400" style="text-decoration: none;">{% trans "frontend.index.logout" %}</a></li>
                    {% else %}
                    {% endif %}
                </ul>
            </nav>
        </aside>
        <!-- Main Content -->
        {% block main %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>