{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load convert_currency %}
{% load convert_currency_number %}
{% load currency_symbol %}
{% load stock_sum %}
{% load sum_objects %}
{% load is_in %}
{% load critical_stocks %}
{% load sales_chart_data %}
{% load category_distribution %}

{% block title %}Warehouse Dashboard{% endblock %}

{% block main %}
    <!-- Main Content -->
    <main class="flex-1 p-6">
        {% include "header_bar.html" %}

        <!-- Stats Cards -->
        <div class="grid grid-cols-4 gap-6 mt-6 mr-10">
            <div class="bg-black text-white p-5 rounded-2xl h-40 flex flex-col justify-center">
                <h3 class="text-lg">{% trans "frontend.index.total" %}</h3>
                <p class="text-2xl font-bold">{{ stocks_history|stock_sum|convert_currency:user_config.currency }}</p>
            </div>
            <div class="bg-white p-5 rounded-2xl shadow h-40 flex flex-col justify-center">
                <h3 class="text-lg">{% trans "frontend.index.active_orders" %}</h3>
                <p class="text-2xl font-bold">{{ orders|is_in:"status,approved"|length }}</p>
            </div>
            <div class="bg-white p-5 rounded-2xl shadow h-40 flex flex-col justify-center">
                <h3 class="text-lg">{% trans "frontend.index.critical_stocks" %}</h3>
                <p class="text-2xl font-bold">{{ stocks|critical_stocks|length }}</p>
            </div>
            <div class="bg-white p-5 rounded-2xl shadow h-40 flex flex-col justify-center">
                <h3 class="text-lg">{% trans "frontend.index.incoming_shipments" %}</h3>
                <p class="text-2xl font-bold">{{ orders|is_in:"status,pending"|length }}</p>
            </div>
        </div>

        <!-- Charts -->
        <div class="mt-10 grid gap-6 mr-10" style="grid-template-columns: 2.5fr 1.5fr;">
            <div class="bg-white p-5 rounded-2xl shadow">
                <h3 class="text-lg font-semibold">{% trans "frontend.index.sales_performance" %}</h3>
                <div class="flex-1">
                    <canvas id="salesChart"></canvas>
                </div>
            </div>
            <div class="bg-white p-5 rounded-2xl shadow">
                <h3 class="text-lg font-semibold">{% trans "frontend.index.category_distribution" %}</h3>
                <div class="flex-1">
                    <canvas id="categoryChart"></canvas>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script>
    const salesLabelz = [
        '{% trans "frontend.index.monday" %}',
        '{% trans "frontend.index.tuesday" %}',
        '{% trans "frontend.index.wednesday" %}',
        '{% trans "frontend.index.thursday" %}',
        '{% trans "frontend.index.friday" %}',
        '{% trans "frontend.index.saturday" %}',
        '{% trans "frontend.index.sunday" %}'
    ];
    var salesLabels = [];
    var d = new Date().getDay() - 1;

    for(let i = 0; i < salesLabelz.length; i++) {
        salesLabels.unshift(salesLabelz[(d + i) % salesLabelz.length])
    }

    const earningsData = {{ stocks_history|sales_chart_data:"earnings"|convert_currency_number:user_config.currency|safe }};
    const costsData = {{ stocks_history|sales_chart_data:"costs"|convert_currency_number:user_config.currency|safe }};
    const categoryLabels = {{ items|category_distribution:"labels,3"|safe }};
    const categoryCounts = {{ items|category_distribution:"counts,3"|safe }};

    function numberWithSpaces(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }

    // Line Chart – Sales Performance
    const salesCtx = document.getElementById('salesChart').getContext('2d');
    new Chart(salesCtx, {
        type: 'line',
        data: {
            labels: salesLabels,
            datasets: [
                {
                    label: '{% trans "frontend.index.earnings" %}',
                    data: earningsData,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                },
                {
                    label: '{% trans "frontend.index.costs" %}',
                    data: costsData,
                    borderColor: 'rgb(255, 99, 132)',
                    tension: 0.1
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
            y: {
                ticks: {
                    callback: function(value, index, values) {
                        return numberWithSpaces(value) + ' {{ user_config.currency|currency_symbol }}'; // Add your character here
                    }
                }
            }
        }
        }
    });

    // Doughnut Chart – Category Distribution
    const categoryCtx = document.getElementById('categoryChart').getContext('2d');
    new Chart(categoryCtx, {
        type: 'doughnut',
        data: {
            labels: categoryLabels,
            datasets: [{
                label: '{% trans "frontend.index.sales_share" %}',
                data: categoryCounts,
                backgroundColor: [
                    'rgb(75, 192, 192)',
                    'rgb(58, 148, 148)',
                    'rgb(43, 105, 105)',
                    'rgb(96, 186, 186)',
                    'rgb(120, 220, 220)',
                ]
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            cutout: '70%',
            layout: {
                padding: 15
            },
            plugins: {
                legend: {
                    position: 'bottom',
                    labels: {
                        padding: 20
                    }
                }
            }
        }
    });
</script>
{% endblock %}