{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "frontend.index.settings" %}{% endblock %}

{% block main %}
<main class="flex-1 p-6">
    {% include "header_bar.html" %}

    <div class="mx-auto max-w-4xl mt-6 bg-white rounded shadow-lg p-4 flex">

        <!-- Tabs -->
        <div class="bg-gray-100 p-4 w-48 flex flex-col gap-2 rounded-l">
            <button onclick="switchTab('user')" id="tab-user" class="tab-active text-left">{% trans "frontend.setting.user" %}</button>
            <button onclick="switchTab('personalization')" id="tab-personalization" class="tab-inactive text-left">{% trans "frontend.setting.personalisation" %}</button>
        </div>
        
        <!-- Tab Content -->
        <div class="p-6 flex-1">
            <div id="content-user">
                <h2 class="text-xl font-bold mb-4">{% trans "frontend.setting.my_account" %}</h2>
                <form method="post" id="account">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="block text-gray-600">{% trans "frontend.setting.username" %}</label>
                        <input type="text" value="{{ user.username }}" class="w-full border border-gray-300 rounded p-2 bg-gray-100">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-600">{% trans "frontend.setting.email" %}</label>
                        <input type="email" value="{{ user.email }}" class="w-full border border-gray-300 rounded p-2 bg-gray-100">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-600">{% trans "frontend.setting.role" %}</label>
                        <select name="roles" id="role" class="w-full border border-gray-300 rounded p-2 bg-gray-100">
                            {% for role in roles %}
                                <option value="test">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
                <form method="post" id="change_password" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" hidden name="user_id" value="{{ user.pk }}" class="w-full border border-gray-300 rounded p-2 bg-gray-100">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-600">{% trans "frontend.setting.current_password" %}</label>
                        <input type="password" name="current_password" class="w-full border border-gray-300 rounded p-2 bg-gray-100">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-600">{% trans "frontend.setting.new_password" %}</label>
                        <input type="password" name="new_password" class="w-full border border-gray-300 rounded p-2 bg-gray-100">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-600">{% trans "frontend.setting.new_password_again" %}</label>
                        <input type="password" name="new_password_again" fo class="w-full border border-gray-300 rounded p-2 bg-gray-100">
                    </div>
                    <div class="mb-4">
                        <button form="change_password" class="bg-black text-white py-2 px-4 rounded hover:bg-gray-800 transition">{% trans "frontend.setting.change_password" %}</button>
                    </div>
                </form>
                <button type="submit" form="account" class="w-full bg-black text-white py-2 rounded-lg hover:bg-gray-800 transition">
                    {% trans "frondend.settings.save_changes" %}
                </button>
                
                
            </div>


            <div id="content-personalization" class="hidden">
                <h2 class="text-xl font-bold mb-4">{% trans "frontend.setting.personalisation" %}</h2>
                <form method="post">
                    {% csrf_token %}

                    <!-- Language Selector -->
                    <div class="mb-4">
                        <label for="language" class="block text-gray-700 mb-1">{% trans "database.forms.userconfig.language_help_text" %}</label>
                        <select id="language" name="language" class="w-full p-2 border border-gray-300 rounded-lg">
                            {% for code, label in languages %}
                                <option value="{{ code }}" {% if current_language == code %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Currency Selector -->
                    <div class="mb-4">
                        <label for="currency" class="block text-gray-700 mb-1">{% trans "database.forms.userconfig.currency_help_text" %}</label>
                        <select id="currency" name="currency" class="w-full p-2 border border-gray-300 rounded-lg">
                            {% for code, label in currencies %}
                                <option value="{{ code }}" {% if current_currency == code %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="w-full bg-black text-white py-2 rounded-lg hover:bg-gray-800 transition">
                        {% trans "frondend.settings.save_changes" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
  function switchTab(tab) {
            // Toggle tab classes
            document.getElementById('tab-user').className = tab === 'user' ? 'tab-active text-left' : 'tab-inactive text-left';
            document.getElementById('tab-personalization').className = tab === 'personalization' ? 'tab-active text-left' : 'tab-inactive text-left';

            // Toggle content visibility
            document.getElementById('content-user').style.display = tab === 'user' ? 'block' : 'none';
            document.getElementById('content-personalization').style.display = tab === 'personalization' ? 'block' : 'none';
        }  
</script>
{% endblock %}
