header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f4f4f4;
}
.header-left h1 {
    margin: 0;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user {
    font-weight: bold;
}
#salesChart, #categoryChart {
    width: 100% !important;
    height: 300px !important;
}
.table-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

aside .fa-solid{
    margin-right: 12px;
    margin-bottom: 10px;
}

.tab-active {
    background-color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px;
}
.tab-inactive {
    color: ccc;
    cursor: pointer;
    padding: 10px;
}